/* Basic CSS reset for browser consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Enable scrolling for the entire body */
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 100%;
    align-self: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.vega-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#header {
    /* Adjust height as necessary */
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);
}

#footer {
    /* Adjust height as necessary */
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);
}

/* Create a flex container to hold leftTextContainer and visualization-container */
.middle-section {
    flex: 1; /* Take up remaining space */
    display: flex;
    height: 100%;
    width: 100%;
}

#visualization-container {
    flex-grow: 2;  /* Allow it to grow and occupy available space previously occupied by donut chart container */
    overflow: hidden;  /* Prevent any spillover */
    background-color: #888; /* For visualization purpose */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* width: 100%; <-- Remove this line */
}

#leftTextContainer {
    flex: 1; /* Adjust this value to set width of this container */
    background-color: #aaa; /* For visualization purpose */
    height: 100%;
    /* width: 100%; <-- Remove this line */
}
