* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contentContainer {
    height: 95vh;
    width: 95vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}

#header, #footer {
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);
}

#header h1 {
    margin: 0;
    padding: 0.5rem 0;
}

#sliderContainer {
    text-align: center;
    padding: 10px 0;
}

.middle-section .pure-u-1-3 {
    height: 100%;
    width: 100%;
}

#leftTextContainer {
    background-color: #aaa;
}

#visualization-container {
    background-color: #888;
}

#donut_chart_container {
    background-color: #666;
}
