/* Basic CSS reset for browser consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Aligns the content container to the middle of the page */
}

#contentContainer {
    display: flex;
    flex-direction: column;
    height: 95vh; /* Assuming you want it to take the full viewport height */
    width: 95vw;
    align-self: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#header {
    /* Adjust height as necessary */
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);
}

#sliderContainer {
    display: flex;
    flex-direction: column;  /* Change to column to stack elements vertically */
    align-items: center;  /* Center items horizontally */
    justify-content: center;
    padding: 10px 0;
}

#yearDisplay {
    margin-top: 10px;  /* Provide some space above the year display */
    text-align: center;
}

#yearRangeSlider {
    width: 95%;  /* Adjust this value as needed */
    margin-left: auto;
    margin-right: auto;
}

.noUi-handle {
    background: rgb(160, 0, 0);
    border: none;
    box-shadow: none;
}

/* Connect (track) Color */
.noUi-connect {
    background: rgb(83, 83, 83);
}

/* Base background */
.noUi-target {
    background-color: lightgray;
}

#footer {
    /* Adjust height as necessary */
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);
}

/* Create a flex container to hold leftTextContainer, visualization-container, and donut_chart_container */
.middle-section {
    flex: 1; /* Take up remaining space */
    display: flex;
    height: 100%;
    width: 100%;
}

#visualization-container,
#donut_chart_container {
    flex-grow: 1;  /* Allow them to grow and occupy available space */
    overflow: hidden;  /* Prevent any spillover */
}

#leftTextContainer {
    flex: 1; /* Adjust this value to set width of this container */
    background-color: #aaa; /* For visualization purpose */
    height: 100%;
    width: 100%;
}

#visualization-container {
    background-color: #888; /* For visualization purpose */
    flex: 2; /* They will share the remaining width equally */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#donut_chart_container {
    background-color: #666; /* For visualization purpose */
    flex: 1; /* They will share the remaining width equally */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}