/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#contentContainer {
    height: 680px;
    width: 1500px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header{
    height: 60px;
    text-align: center;
    background-color: rgb(206, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    height: 50px;
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);

}


#header h1 {
    margin: 0;
    padding: 0.5rem 0;
}

.middle-section {
    flex: 1;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.middle-section .pure-u-1-5 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.middle-section .pure-u-3-5 {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#leftTextContainer {
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#leftTextContainer h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

#leftTextContainer ol li {
    margin-top: 28px;     
}


.stat {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 5px;
}

.stat strong {
    font-size: 14px;
    margin-right: 5px; 
}

.stat span {
    font-size: 12px; 
    flex: 1; 
    text-align: right; 
}

#leftTextContainer p {
    font-size: 12px;   /* Decreased font size for the content */
    margin-bottom: 5px;
}

#visualization-container, #donut_chart_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#map, #donut_chart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#sliderContainer {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: lightgray
}

#yearRangeSlider {
    width: 95%;
}

.noUi-handle {
    background: rgb(160, 0, 0);
    border: none;
    box-shadow: none;
}

.noUi-connect {
    background: #a50f15;
}

.noUi-target {
    background-color: #dae3e4;
}

.noUi-tooltip {
    display: none;
}

.noUi-handle:hover .noUi-tooltip {
    display: block;
}

