/* Basic CSS reset for browser consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Aligns the content container to the middle of the page */
}

#contentContainer {
    display: flex;
    flex-direction: column;
    height: 95vh; /* Assuming you want it to take the full viewport height */
    width: 95vw;
    align-self: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#header {
    /* Adjust height as necessary */
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);
}

#sliderContainer {
    /* Adjust height as necessary */
    height: 50px;
    background-color: #dcdcdc; /* For visualization purpose */
}

#footer {
    /* Adjust height as necessary */
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 1vw 0;
    background-color: rgb(206, 24, 24);
}

/* Create a flex container to hold leftTextContainer, visualization-container, and donut_chart_container */
.middle-section {
    flex: 1; /* Take up remaining space */
    display: flex;
}

#leftTextContainer {
    flex: 1; /* Adjust this value to set width of this container */
    background-color: #aaa; /* For visualization purpose */
}

#visualization-container,
#donut_chart_container {
    flex: 2; /* They will share the remaining width equally */
    display: flex;
    flex-direction: column;
}

#visualization-container {
    background-color: #888; /* For visualization purpose */
}

#donut_chart_container {
    background-color: #666; /* For visualization purpose */
}

.middle-section {
    flex: 1;
    display: flex;
    flex-direction: row; /* This is default, so it's optional */
}

.right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#visualization-container,
#donut_chart_container {
    flex: 1; /* They will share the vertical space equally */
}